@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
html,
body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head-firt {
  background-color: rgba(5, 2, 41, 0.952);
  height: 44px;
  max-width: 100%;
}

.head-firt .icon {
  display: flex;
  position: relative;
  justify-content: right;
  margin-right: 40px;
  height: 42px;
}

.menu-cover {
  background-color: #efe6d69e;
  height: 90px;
}
.menu {
  display: flex;
  max-width: 1085px;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  margin-left: 22px;
}

.menu .img img {
  display: block;
}
.menu .navbar {
  display: flex;
  position: relative;
}
.menu .item {
  padding: 0px 27px;
  margin: 0px auto;
}
.menu .item a {
  font-size: 14px;
}
.item {
  font-size: 14px;
  font-weight: bold;
  color: #120f3fea;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 250px;
  box-shadow: 8px 0px 8px #ff6201;
  padding: 2px 8px;
  z-index: 1;
}
.dropdown-content ul {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content li {
  font-size: 14px;
}
.dropdown-content ul li:hover {
  color: #fc6021;
  background-color: #f1f1f1;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .item {
  color: #ff6201;
  height: 10px;
}
.navbar .item:hover {
  color: #ff6201;
  cursor: pointer;
}
.background {
  display: block;
  background-image: url("/public/image/Background_main.png");
  width: 100%;
  background-position: center bottom;
  height: 706px;
  background-repeat: no-repeat;
  background-size: cover;
}
.background_img {
  padding-top: 147px;
  text-align: center;
}
.tochuc {
  display: flex;

  align-items: center;
  justify-content: center;
}
.tochuc .text {
  padding: 23px;
}
.tochuc .text p {
  text-decoration: underline;
  font-weight: 600;
  font-size: 20px;
  margin-left: -100px;
  padding-right: 7px;
}
.tochuc .img-bytesoft {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 596px;
}

.img-tochuc img:hover {
  opacity: 0.5;
}

.img-langue {
  display: block;
  position: relative;
  top: 101px;
  left: 397px;
}
.img-bongda {
  display: flex;
  justify-content: center;
  margin-top: 139px;
}
.logo-ball > img {
  width: 151px;
  position: relative;
  bottom: 182px;
  left: 528px;
}
.duongvien {
  position: relative;
  bottom: 116px;
  left: -34px;
}
.introduction {
  display: flex;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.content-left {
  margin-top: 22px;
  margin-left: 159px;
  line-height: 2;
}

.content-text p {
  font-size: 14px;
  color: #001649ea;
  font-weight: 800;
  line-height: 28px;
  margin-left: -24px;
  padding-top: 15px;
}
.content-title h3 {
  color: #120f3fea;
  font-size: 42px;
  position: relative;
}
.content-title h3::before {
  content: url("/public/image/gachcam.png");
  position: absolute;
  left: -24px;
  top: 5px;
}
.content-title h3::after {
  content: "";
  position: absolute;
  right: 24px;
  top: 34px;
  height: 2px;
  width: 261px;
  background-color: #fc6021;
}
.content-img {
  display: block;
  position: relative;
}
.content-img img {
  margin-top: -56px;
}
.viewbtn {
  border: oldlace;
  border-radius: 22px 22px 22px 22px;
  height: 46px;
  width: 149px;
  color: white;
  background-color: rgb(255, 102, 0);
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 62px;
  margin-left: -25px;
}
.viewbtn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  cursor: pointer;
}
.logo-play {
  position: absolute;
  z-index: 1;
  top: 52%;
  left: 51%;
  transform: translateX(-50%);
}
.logo-play img {
  border-radius: 90%;
}

table {
  border-collapse: collapse;
  width: 944px;
  margin: 0 auto 0 293px;
  margin-top: -103px;
  z-index: 3;
  color: rgb(45, 51, 86);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: #fc6021 solid 1px;
}

td {
  text-align: center;
  padding: 22.5px 23px;
  margin: 10px;
  font-size: 16px;
  font-weight: 400;
  height: 31px;
  /* border-left: white 5px solid; */
}
tr:nth-child(odd) {
  background-color: #ffebeb;
}
tr {
  background-color: white;
}
tr td:nth-child(1) {
  position: relative;
}
tr td:nth-child(1)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #fc6021;
  display: none;
}
tr:hover td:nth-child(1)::after {
  display: block;
}
th {
  text-align: center;
  padding: 39px 27px;
  color: white;
  background-color: #4e786f;
  height: 35px;
}

.table {
  background-image: url(/public/image/Group5.png);
  background-repeat: no-repeat;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -69px;
  background-size: cover;
  height: 340px;
}
.table h2 {
  padding-top: 115px;
  padding-left: 38px;
  text-align: center;
  color: white;
  z-index: 4;
  font-size: 42px;
}

.image-white {
  display: block;
  width: fit-content;
  margin: 21px auto;

  position: relative;
}
.image-white::before {
  content: "";
  position: absolute;
  left: 35px;
  top: 6px;
  height: 2px;
  width: 105px;
  background-color: #fc6021;
}
.image-white::after {
  content: "";
  position: absolute;
  right: 27px;
  top: 6px;
  height: 2px;
  width: 100px;
  background-color: #fc6021;
}
.muiten1 {
  width: fit-content;
  margin: 20px auto;
}
.muiten1 .arrow {
  border: 1px solid #ff6201;
  padding: 0;
  border-radius: 5px 5px;
  color: #ff6201;
  background-color: #ffffff;
  scale: 0.75;
}
.muiten1 .arrow svg {
  display: block;
}
.muiten1 .arrow svg path {
  fill: #fc6021;
}
.muiten1 .arrow-next svg {
  transform: scaleX(-1);
}
.muiten1 .arrow:hover {
  background: #fc6021;
}
.muiten1 .arrow:hover svg path {
  fill: #ffffff;
  cursor: pointer;
}
.img-home {
  display: block;
  width: fit-content;
  margin: 0 auto;
}
.image-home {
  width: 566px;
  padding-top: 26px;
}

.vote {
  background-image: url("/public/image/Background3.png");
  display: block;
  margin: 27px auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
}
.vote::before {
  content: "";
  background-image: url("/public/image/footer-before.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  position: absolute;
  width: 100%;
  height: 130px;
  top: 0;
  left: 0;
  z-index: 8;
}
.vote::after {
  content: "";
  background-image: url("/public/image/footer-after.png");
  background-size: 100%;
  background-position: bottom center;
  display: block;
  /* position: absolute; */
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  z-index: 8;
}
.vote h3 {
  padding-top: 110px;
  display: block;
  text-align: center;
  font-size: 42px;
  color: rgb(0, 33, 94);
}

.image-blue {
  display: block;
  position: relative;
  width: fit-content;
  margin: 34px auto;
}
.image-blue::before {
  display: block;
  content: "";
  position: absolute;
  right: 30px;
  top: 7px;
  height: 2px;
  width: 102px;
  background-color: #fc6021;
}
.image-blue::after {
  content: "";
  position: absolute;
  left: 34px;
  top: 7px;
  height: 2px;
  width: 102px;
  background-color: #fc6021;
}
/* tabs */
.tabs {
  display: flex;
  justify-content: center;
  gap: 60px;
  position: relative;
  margin-top: -7px;
  margin-left: -39px;
  width: 100%;
}
.tabs .tab {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabs .tab:hover .shape-under {
  background-color: #ff6201;
  cursor: pointer;
}
.tabs .tab:hover p {
  color: #ffffff;
}
.tabs .tab .shape-under {
  position: absolute;
  top: 50%;
  left: calc(50% + -10px);
  width: 100%;
  /* padding: 10px 20px; */
  height: 100%;
  transition: 0.1s linear;
  transform: skew(-30deg) translate(-50%, -50%);
  background: #ffffff;
  border: 1px solid #ff6201;
}
.tabs .tab:nth-child(1) {
  margin-right: -34px;
}
.tabs .tab:nth-child(2) {
  margin-left: -7px;
}
.tabs .tab:nth-child(3) {
  margin-left: -34px;
}
.tabs .tab p {
  padding: 14px 28px;
  text-transform: uppercase;
  margin: 0;
  font-size: 17px;
  color: rgb(0, 33, 94);
  z-index: 2;
  cursor: pointer;
  /* transform: translate(-50%, -50%); */
}
.tabs .tab img {
  display: block;
}
/*  */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 97px 0px 60px 0px;
  justify-content: center;
}
.grid-content {
  position: relative;
  background-color: #ffffff;
  width: 260px;
  height: 415px;
  text-align: center;
}

.item-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 26px 10px;
  background: rgba(0, 0, 0, 0.3);
  clip-path: polygon(0 0, 100% 0, 100% 35px, 50% 100%, 0 35px);
}
.grid-content .item-header p {
  color: #ffffff;
  position: relative;
  font-size: 20px;
}
.grid-content .item-header p::after {
  display: block;
  content: "";
  position: absolute;
  right: 94px;
  top: 26px;
  height: 2px;
  width: 54px;
  background-color: #ffffff;
}
.grid-content img {
  padding: 0px;
  padding-top: 15px;
  width: 246px;
}
.grid-container .grid-content .item-header-sbd {
  margin: 9px;
}
.grid-content button {
  background-color: #333;
  color: #ffffff;
  border: none;
  display: inline-block;
  padding: 10px 19px;
  position: relative;
  margin: 20px 0px 34px 11px;
  cursor: pointer;
}
.grid-content button::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 11px solid #333;
  top: -8px;
  right: 42px;
}
/* slick slide */
.image-slider {
  margin: -37px 178px 30px 190px;
}

.image-company {
  width: fit-content;
  /* display: flex;
  justify-content: flex-end; */
}
.image-company img {
  display: inline;
  width: fit-content;
  height: auto;
  border: 1px solid;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
}
.slick-arrow:hover {
  background-color: #2cccff;
  color: white;
}
.slick-prev {
  padding: 10px 20px;
  left: -70px;
}
.slick-next {
  padding: 10px 20px;
  right: -36px;
}

footer {
  background-image: url("/public/image/Background_footer.png");
  padding-top: 19px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.logo-bvote > img {
  display: block;
  position: relative;
  z-index: 3;
  margin: 0 auto;
  padding-top: 118px;
  padding-left: 16px;
  top: -23px;
}

.text-company {
  padding-top: 8px;
}
.logo-bvote > hr {
  border: 0;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #fc6021,
    rgba(0, 0, 0, 0)
  );
  margin: 19px 512px 52px;
}
.text-company > p {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  margin-top: -35px;
}
.nav_bars-btn {
  display: none;
  font-size: 30px;
}
.nav_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
.nav_mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: #fff;
  transform: translateX(100%);
}
.nav_list {
  margin-top: 24px;
  list-style: none;
}
.nav_link {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 8px 0;
  font-size: 1.4rem;
}
.nav_list :hover {
  color: #fc6021;
  cursor: pointer;
}
.nav_mobile-close {
  font-size: 1.6rem;
}
.nav_input:checked ~ .nav_overlay {
  display: block;
}
.nav_input:checked ~ .nav_mobile {
  transform: translateX(0%);
}
.container-bs {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@media only screen and (max-width: 1350px) {
  .container-bs {
    width: 1170px;
  }
  table {
    margin: 0 auto;
    margin-top: -110px;
  }
}

@media only screen and (max-width: 1199px) {
  .container-bs {
    width: 970px;
  }
}
@media only screen and (max-width: 991px) {
  .container-bs {
    width: 750px;
  }
}

@media only screen and (max-width: 1470px) {
  .menu .navbar {
    font-size: 12px;
  }
  article {
    padding: 55px 90px;
  }
  footer {
    background-position: top center;
  }
  .slick-next {
    right: -40px;
  }
}
@media only screen and (max-width: 1360px) {
  article {
    padding: 55px 50px;
  }
  .logo-bvote > hr {
    margin: 8px 450px 59px;
  }
}
@media only screen and (max-width: 1240px) {
  .menu {
    padding: 19px 0px;
  }
  .menu .navbar {
    padding: 10px;
  }
  .menu .item {
    padding: 0 9px;
  }
  #img-tochuc-1 {
    display: none;
  }
  .tochuc .img-bytesoft {
    width: 440px;
  }
  .content-left {
    margin-left: 50px;
  }
  .content-img {
    width: 470px;
  }
  .table {
    background-position: top center;
  }
  .table h2 {
    font-size: 30px;
  }
  .image-white::after {
    width: 100px;
  }
  .image-white::before {
    width: 100px;
  }
  table {
    width: 880px;
  }

  .vote {
    background-position: top center;
  }
  .img-home .image-home {
    width: 450px;
  }
  .image-slider {
    margin: 36px 160px;
  }
  .logo-bvote > hr {
    margin: 8px 350px 59px;
  }
}
@media only screen and (max-width: 1040px) {
  .menu .navnar {
    padding: 10px;
    font-size: 12px;
  }
  .table h2 {
    font-size: 28px;
  }
  .content-text h3::after {
    width: 200px;
    left: 43%;
    top: 26px;
  }
  .content-text h3 {
    font-size: 34px;
    top: 8px;
  }
  .image-white::after {
    width: 88px;
  }
  .image-white::before {
    width: 88px;
  }

  .image-home {
    width: 565px;
    padding: 44px 0px;
  }
  .logo-bvote > img {
    width: 200px;
  }
  .logo-bvote > hr {
    margin: 8px 250px 59px;
  }
}
@media only screen and (max-width: 961px) {
  .nav_bars-btn {
    display: block;
  }
  .menu .navbar {
    display: none;
  }
  .content-text h3::after {
    width: 168px;
    left: 48%;
  }
  .content-text h3 {
    font-size: 30px;
    top: 12px;
  }
  table {
    width: 700px;
  }
  .img-home .image-home {
    width: 420px;
  }
  .content-text p {
    padding: 8px;
  }
  .viewbtn {
    margin: 0;
  }
}
@media only screen and (max-width: 880px) {
  .menu .navbar {
    font-size: 8px;
  }
  .content-text h3::after {
    width: 160px;
    left: 46%;
  }
  .content-img {
    width: 382px;
  }
  .img-home {
    margin: 0 auto;
  }
  .img-home .image-home {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-bvote > hr {
    margin: 8px 250px 59px;
  }
}
@media only screen and (max-width: 805px) {
  .img-home {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .content-text p {
    padding: 8px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .container-bs {
    width: 100%;
  }
  .content-text h3::after {
    width: 110px;
    left: 157px;
    top: 18px;
  }
  .content-text h3 {
    font-size: 25px;
    top: 20px;
  }
  #img-tochuc-2 {
    display: none;
  }

  .tochuc .img-bytesoft {
    width: 340px;
  }
  .content-text p {
    padding: 8px;
    font-size: 10px;
  }
  table {
    width: 600px;
    padding: 10px;
  }
  .logo-bvote > hr {
    margin: 8px 200px 59px;
  }
}

@media only screen and (max-width: 650px) {
  .introduction {
    display: block;
  }
  .image-slider {
    margin: 30px 65px;
  }
  #img-tochuc-3 {
    display: none;
  }
  .tochuc .img-bytesoft {
    width: 200px;
  }
  table {
    width: 500px;
  }
  .logo-bvote > hr {
    margin: 8px 150px 59px;
  }
  .content-text p {
    padding: 8px;
    font-size: 14px;
  }
  .tabs {
    margin-left: -2px;
    gap: 50px;
  }
  .tabs .tab p {
    padding: 16px 16px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 480px) {
  .image-slider {
    margin: 35px 73px;
    padding: 0px 19px;
  }
  .tabs .tab p {
    padding: 8px 8px;
    font-size: 12px;
  }
  table {
    overflow-x: scroll;
  }
  .content-left {
    width: 350px;
    margin-left: 0;
  }
  .image-company {
    margin: 0 auto;
  }
}
