@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
html,
body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.head-firt {
  background-color: rgba(5, 2, 41, 0.952);
  height: 45px;
  max-width: 100%;
}

.head-firt .icon {
  display: flex;
  position: relative;
  justify-content: right;
  margin-right: 40px;
}

.menu-cover {
  background-color: #efe6d69e;
}
.menu {
  display: flex;
  height: 78px;
  justify-content: space-between;
  align-items: center;
}

.menu .img {
  display: block;
  position: relative;
  top: 3px;
}
.menu .navbar {
  display: flex;
  position: relative;
}
.menu .item {
  padding: 30px 27px;
}
.item {
  font-size: 14px;
  font-weight: bold;
  color: #120f3fea;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 250px;
  box-shadow: 8px 0px 8px #ff6201;
  padding: 2px 8px;
  z-index: 1;
}
.dropdown-content ul {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content li {
  font-size: 14px;
}
.dropdown-content ul:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .item {
  color: #ff6201;
  height: 10px;
}
.navbar .item:hover {
  color: #ff6201;
  cursor: pointer;
}
.background {
  display: block;
  background-image: url("/public/image/Background_full.png");
  width: 100%;
  background-position: center;
  height: 815px;
  background-repeat: no-repeat;
  background-size: cover;
}
.tochuc {
  display: flex;
  margin: 500px 61px;
  justify-content: space-evenly;
  align-items: end;
}
.tochuc .img-bytesoft {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 23px;
  width: 560px;
}
.img-tochuc img:hover {
  opacity: 0.5;
}
.tochuc .text {
  padding-left: 75px;
  padding-bottom: 20px;
  position: relative;
  right: -45px;
}

.img-langue {
  display: block;
  position: relative;
  top: 101px;
  left: 397px;
}
.img-bongda {
  display: flex;
  justify-content: center;
  margin-top: 139px;
}
.logo-ball > img {
  width: 151px;
  position: relative;
  bottom: 182px;
  left: 528px;
}
.duongvien {
  position: relative;
  bottom: 116px;
  left: -34px;
}
.introduction {
  display: flex;
  justify-content: space-around;
  position: relative;
  max-width: 1133px;
  margin: auto;
  align-items: flex-start;
}
.introduction .gachcam {
  position: relative;

  bottom: -91px;
}
.content-left {
  position: relative;
  top: -80px;
}
.content-text {
  display: block;

  line-height: 1.8;
}
.content-text p {
  font-size: small;
  color: #001649ea;
}
.content-text h3 {
  color: #120f3fea;
  font-size: 39px;
  position: relative;
  left: 20px;
}
.content-text h3::after {
  content: "";
  position: absolute;
  left: 46%;
  top: 33px;
  height: 1px;
  width: 270px;
  background-color: #fc6021;
}
.content-img {
  display: block;
  position: relative;
  left: 63px;
  bottom: 101px;
}
.viewbtn {
  border: oldlace;
  border-radius: 15px 15px 15px;
  height: 35px;
  width: 129px;
  color: white;
  background-color: orange;
  font-size: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.viewbtn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
.logo-play {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.logo-play img {
  border-radius: 90%;
  width: 68px;
}
.content-img > img {
  position: relative;
  bottom: -41px;
  right: 10px;
}
table {
  border-collapse: collapse;
  width: 940px;
  margin: 0 auto;
  margin-top: -80px;
  z-index: 3;
  color: rgb(45, 51, 86);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: #fc6021 solid 1px;
}

td {
  text-align: center;
  padding: 24px;
  margin: 10px;
  font-size: 14px;
  height: 31px;
  /* border-left: white 5px solid; */
}
tr:nth-child(odd) {
  background-color: #ffebeb;
}
tr {
  background-color: white;
}
tr td:nth-child(1) {
  position: relative;
}
tr td:nth-child(1)::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #fc6021;
  display: none;
}
tr:hover td:nth-child(1)::after {
  display: block;
}
th {
  text-align: center;
  padding: 24px;
  color: white;
  background-color: #4e786f;
  height: 35px;
}

.table {
  background-image: url(/public/image/Group5.png);
  background-repeat: no-repeat;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  height: 300px;
}
.table h2 {
  padding-top: 96px;
  text-align: center;
  color: white;
  z-index: 4;
  font-size: 35px;
}

.image-white {
  display: block;
  width: fit-content;
  margin: 0 auto;

  position: relative;
}
.image-white::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 7px;
  height: 1px;
  width: 130px;
  background-color: #fc6021;
}
.image-white::after {
  content: "";
  position: absolute;
  right: 30px;
  top: 7px;
  height: 1px;
  width: 130px;
  background-color: #fc6021;
}
.muiten1 {
  width: fit-content;
  margin: 20px auto;
}
.muiten1 .arrow {
  padding: 4px 10px;
  border: 1px solid #ff6201;
  border-radius: 5px 5px;
  color: #ff6201;
  background-color: #ffffff;
}
.arrow:hover {
  color: #ffffff;
  background-color: #fc6021;
  cursor: pointer;
}
.img-home {
  display: block;
  width: fit-content;
  margin: 0 auto;
}
.image-home {
  width: 500px;
}

.vote {
  background-image: url("/public/image/Background3.png");
  display: block;
  margin: 0 auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
}
.vote::before {
  content: "";
  background-image: url("/public/image/footer-before.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  position: absolute;
  width: 100%;
  height: 130px;
  top: 0;
  left: 0;
  z-index: 8;
}
.vote::after {
  content: "";
  background-image: url("/public/image/footer-after.png");
  background-size: 100%;
  background-position: bottom center;
  display: block;
  /* position: absolute; */
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  z-index: 8;
}
.vote h3 {
  padding-top: 102px;
  display: block;
  text-align: center;
  font-size: 30px;
  color: rgb(0, 33, 94);
}

.image-blue {
  display: block;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.image-blue::before {
  display: block;
  content: "";
  position: absolute;
  right: 37px;
  top: 8px;
  height: 1px;
  width: 90px;
  background-color: #fc6021;
}
.image-blue::after {
  content: "";
  position: absolute;
  left: 37px;
  top: 8px;
  height: 1px;
  width: 90px;
  background-color: #fc6021;
}
/* tabs */
.tabs {
  display: flex;
  justify-content: center;
  gap: 44px;
  position: relative;
  margin-top: 20px;
  width: 100%;
}
.tabs .tab {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabs .tab:hover .shape-under {
  background-color: #ff6201;
  cursor: pointer;
}
.tabs .tab:hover p {
  color: #ffffff;
}
.tabs .tab .shape-under {
  position: absolute;
  top: 50%;
  left: calc(50% + 6px);
  width: 100%;
  /* padding: 10px 20px; */
  height: 100%;
  transition: 0.1s linear;
  transform: skew(20deg) translate(-50%, -50%);
  background: #ffffff;
  border: 1px solid #ff6201;
}
.tabs .tab:nth-child(1) {
  margin-right: -34px;
}
.tabs .tab:nth-child(3) {
  margin-left: -34px;
}
.tabs .tab p {
  padding: 12px 20px;
  text-transform: uppercase;
  margin: 0;
  font-size: 17px;
  color: rgb(0, 33, 94);
  z-index: 2;
  cursor: pointer;
  /* transform: translate(-50%, -50%); */
}
.tabs .tab img {
  display: block;
}
/*  */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 20px;
  justify-content: center;
}
.grid-content {
  position: relative;
  background-color: #ffffff;
  width: 220px;
  height: 340px;
  text-align: center;
}

.item-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.3);
  clip-path: polygon(0 0, 100% 0, 100% 20px, 50% 100%, 0 20px);
}
.item-header p {
  color: #ffffff;
}

.grid-content img {
  padding: 10px;
}
.grid-content button {
  background-color: #333;
  color: #ffffff;
  border: none;
  display: inline-block;
  padding: 7px 17px;
  position: relative;
  margin: 4px 2px;
  cursor: pointer;
}
.grid-content button::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 11px solid #333;
  top: -8px;
  right: 42px;
}
.image-slider {
  margin: 53px 190px;
  padding: 40px 0;
}
.image-company img {
  display: inline;
  width: fit-content;
  height: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
}
.slick-arrow:hover {
  background-color: #2cccff;
  color: white;
}
.slick-prev {
  padding: 10px 20px;
  left: -70px;
}
.slick-next {
  padding: 10px 20px;
  right: 0;
}
footer {
  background-image: url(/public/image/Background_footer.png);

  background-repeat: no-repeat;

  background-size: cover;
}

.logo-bvote > img {
  display: block;
  position: relative;
  z-index: 3;
  margin: 0 auto;
  padding-top: 95px;
}
.text-company {
  padding-top: 27px;
}
.text-company > hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #fc6021,
    rgba(0, 0, 0, 0)
  );
  width: 500px;
}
.text-company > p {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}
.nav_bars-btn {
  display: none;
  font-size: 30px;
}
.nav_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
.nav_mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: #fff;
  transform: translateX(100%);
}
.nav_list {
  margin-top: 24px;
  list-style: none;
}
.nav_link {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 8px 0;
  font-size: 1.4rem;
}
.nav_list :hover {
  color: #fc6021;
  cursor: pointer;
}
.nav_mobile-close {
  font-size: 1.6rem;
}
.nav_input:checked ~ .nav_overlay {
  display: block;
}
.nav_input:checked ~ .nav_mobile {
  transform: translateX(0%);
}
.container-bs {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
@media only screen and (max-width: 1350px) {
  .container-bs {
    width: 1170px;
  }
}

@media only screen and (max-width: 1199px) {
  .container-bs {
    width: 970px;
  }
}
@media only screen and (max-width: 991px) {
  .container-bs {
    width: 750px;
  }
}

@media only screen and (max-width: 1470px) {
  .menu .navbar {
    font-size: 12px;
  }
  article {
    padding: 55px 90px;
  }
  footer {
    background-position: top center;
  }
  .slick-next {
    right: -40px;
  }
}
@media only screen and (max-width: 1360px) {
  article {
    padding: 55px 50px;
  }
}
@media only screen and (max-width: 1240px) {
  .menu .item {
    padding: 0 9px;
  }
  #img-tochuc-1 {
    display: none;
  }
  .tochuc .img-bytesoft {
    width: 400px;
  }
  .content-left {
    margin-left: 50px;
  }
  .content-img {
    width: 470px;
  }
  .table {
    background-position: top center;
  }
  .table h2 {
    font-size: 30px;
  }
  .image-white::after {
    width: 100px;
  }
  .image-white::before {
    width: 100px;
  }
  table {
    width: 880px;
  }
  .tochuc {
    margin: 500px 151px;
  }
  .vote {
    background-position: top center;
  }
  .image-slider {
    margin: 36px 160px;
  }
}
@media only screen and (max-width: 1040px) {
  .menu .navnar {
    padding: 20px;
    font-size: 12px;
  }
  .tochuc {
    margin: 500px 100px;
  }
  .menu .item {
  }
  .table h2 {
    font-size: 28px;
  }
  .content-text h3::after {
    width: 230px;
    left: 43%;
    top: 26px;
  }
  .content-text h3 {
    font-size: 34px;
    top: 8px;
  }
  .image-white::after {
    width: 88px;
  }
  .image-white::before {
    width: 88px;
  }
  .image-home {
    width: 400px;
  }
  .logo-bvote > img {
    width: 200px;
  }
}
@media only screen and (max-width: 961px) {
  .tochuc {
    margin: 500px 50px;
  }
  .nav_bars-btn {
    display: block;
  }
  .menu .navbar {
    display: none;
  }
  .content-text h3::after {
    width: 210px;
    left: 48%;
  }
  .content-text h3 {
    font-size: 30px;
    top: 12px;
  }
  table {
    width: 700px;
  }
}
@media only screen and (max-width: 880px) {
  .menu .navbar {
    font-size: 8px;
  }
  .content-text h3::after {
    width: 180px;
    left: 54%;
  }
  .content-img {
    width: 382px;
  }
  .img-home {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 805px) {
  .img-home {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 767px) {
  .container-bs {
    width: 100%;
  }
  .content-text h3::after {
    width: 110px;
    left: 157px;
    top: 18px;
  }
  .content-text h3 {
    font-size: 25px;
    top: 20px;
  }
  #img-tochuc-2 {
    display: none;
  }
  .tochuc .img-bytesoft {
    width: 340px;
  }
  table {
    width: 600px;
    padding: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .introduction {
    display: block;
  }
  .image-slider {
    margin: 30px 65px;
  }
  #img-tochuc-3 {
    display: none;
  }
  .tochuc .img-bytesoft {
    width: 200px;
  }
}
@media only screen and (max-width: 480px) {
  .image-slider {
    margin: 35px 73px;
    padding: 0px 19px;
  }
  .tabs .tab p {
    padding: 8px 8px;
    font-size: 12px;
  }
}
